.article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "p p p p p p p p p s s s";
  grid-column-gap: 1em;
  &__primary {
    grid-area: p;
    padding: 2em 1em;
  }
  &__secondary {
    grid-area: s;
    padding: 2em 0;
  }
}
