.titlebar {
  height: $nav-height;
  color: $black;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(.homepage) {
    @media only screen
    and (max-width : 425px) {
      padding-left: 30px;
    }
  }
  // @media only screen
  // and (max-width: 425px)  {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }

  &__main {
    margin: 0;
    font-weight: 300;
    @media only screen
    and (min-width: 425px)  {
      font-size: 2.2em;
    }
  }
  &__date {
    margin: 0;
    display: none;
    @media only screen
    and (min-width: 425px)  {
      display: block;
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
