@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto+Condensed:400,700,300|Oxygen+Mono);

@import "vars";
@import url(./_components/layout.less);
@import url(./_components/brand.less);
@import url(./_components/nav-content.less);
@import url(./_components/header-nav.less);
@import url(./_components/titlebar.less);
@import url(./_components/article.less);
@import url(./_components/markdowned.less);
@import url(./_components/button.less);
@import url(./_components/sidenav.less);
@import url(./_components/downloads.less);
@import url(./_components/tags.less);
@import url(./_components/badge.less);

body {
  margin: 0;
  font: 14px 'Droid Sans', sans-serif;
  line-height: 1.42857143;
}

a {
  color: @primary;
}

.container {
  display: flex;
  justify-content: center;
  &__center {
    flex: 0 1 1170px;
  }
}

.simple-row {
  display: flex;
  &--footer {
    justify-content: space-between;
    align-items: center;
  }
  &--header {
    @media only screen
    and (max-width : 768px) {
      flex-direction: column;
    }
  }
  &--brandbar {
    @media only screen
    and (max-width : 768px) {
      align-items: center;
      justify-content: space-between;
      padding: .5em 1em;
    }
  }
}

.global-nav {
  background-color: #36d278;
  & > * {
    background-color: #27ae60;
  }
}

.main-titlebar {
  background-color: #60db94;
  & > * {
    background-color: #19703e;
  }
}

.global-footer {
  background-color: #d9dcde;
  & > * {
    background-color: #bdc3c7;
    padding: 1.3em;
  }
  p {
    margin: 0;
    color: @white;
  }
}

.side-nav-inner {
  @media only screen
  and (min-width : 769px) {
    padding-right: 1em;
  }
}

code {
  color: #27ae60;
  background-color: #ddf7e8;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 2px 6px;
  font-size: .9em;
  border-radius: .2em;
}

.grid {
  display: grid;
  &--homepage {
    grid-gap: 1em;
    margin: 1em;
    @media only screen
    and (min-width: 600px)  {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 300px;
      grid-auto-rows: 300px;
    }
    @media only screen
    and (max-width : 1024px) {
      grid-template-rows: 230px;
      grid-auto-rows: 230px;
    }
    @media only screen
    and (max-width: 425px) {
      background-color: red;
    }
  }
}

.lesson {
  padding: 1em;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  &__title {
    margin: 0;
    line-height: 1em;
    @media only screen
    and (max-width : 768px) {
      font-size: 1.3em;
    }
  }
  &__link {
    text-decoration: none;
    color: @primary;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    &:hover {
      text-decoration: underline;
    }
  }
  &__date {
    color: @primary;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    p {
      &:first-of-type {
        flex: 1;
      }
      &:last-of-type {
        margin: 0;
      }
      &:empty {
        display: none;
      }
    }
    > div {
      margin: .5em 0;
    }
  }
  &__button {
    width: 100%;
    box-sizing: border-box;
  }
}

.burger {
  display: none;
  @media only screen
  and (max-width : 768px) {
    display: inline-block;
  }
  &.active {
    padding: 10px 4px;
    .line {
      margin: 0;
      &:nth-of-type(1) {
        transform: rotate(45deg) translate(-2px,0px);
        width: 17px;
        position: relative;
        top: 2px;
        left: 1px;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg) translate(1px,-4px);
        width: 17px;
        position: relative;
        top: 2px;
        left: 1px;
      }
    }
  }
  transition: all .2s;
  border: 1px solid @white;
  padding: 4px;
  border-radius: 3px;
  width: 25px;
  box-sizing: border-box;
  .display {
    display: none;
  }
  .line {
    transition: all .2s;
    border-bottom: 1px solid @white;
    margin-bottom: 3px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
