body {
  font: 16px arial;
  background-color: #c0c0c0;
}

.wrapper {
  background-color: #fff;
  padding: 1em;
  margin: 0 auto;
  width: 800px;
}

h1 {
  color: #B22222;
}

h2 {
  color: #DC143C;
}

p {
  line-height: 1.5em;
}

ol {
  padding-left: 25px;
  line-height: 1.5em;
}

.google-font {
  color: #FF6347;
}
