body {
  font: 16px arial;
  background-color: #D4D8D8;
}

.container {
  width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1em;
}

.global-header h1 {
  color: #3CAEE2;  
}

.content h3 {
  color: #724B59;
}

.content p {
  line-height: 1.5em;
}

.photo-right {
  border: 1px solid lightgray;
  padding: 1em;
  float: right;
  margin-left: 1em;
}

.photo-left {
  border: 1px solid lightgray;
  padding: 1em;
  float: left;
  margin-right: 1em;
}

.global-footer {
  border-top: 1px solid #3CAEE2;
  text-align: right;
}